@model Virtus.Models.Produto

<div class="container my-5">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="d-flex">
                <!-- Imagem principal -->
                <div class="flex-grow-1">
                    <img src="/img/@Model.Imagens.FirstOrDefault()?.PimgUrl"
                         id="produto-@Model.PrdId"
                         class="img-fluid rounded shadow produto-img"
                         style="width:500px; height:auto; object-fit: contain;">
                </div>

                <!-- Miniaturas -->
                <div class="d-flex flex-column ms-3">
                    @foreach (var img in Model.Imagens.Take(4))
                    {
                        <img src="/img/@img.PimgUrl" class="img-thumbnail mb-2 thumb" data-id="@Model.PrdId" style="width:80px; height:80px; object-fit: contain; cursor:pointer;">
                    }
                </div>
            </div>
        </div>

        <!-- Informações -->
        <div class="col-lg-6">
            <h3 class="fw-bold">@Model.PrdNome</h3>
            <p class="text-secondary">@Model.PrdDescricao</p>

            <div class="mb-3">
                <p class="h4 fw-bold mb-0" style="color: #090B54;">R$ @Model.PrdPreco.ToString("F2") à vista</p>
            </div>

            <h4>Tamanhos disponíveis:</h4>

            @if (Model.Estoques != null && Model.Estoques.Any())
            {
                <ul class="d-flex justify-content-between w-50">
                    @foreach (var estoque in Model.Estoques)
                    {
                        <li style="list-style: none;">
                            <button type="button" class="btn btn-dark smooth-btn btn-sm">@estoque.EstTamanho</button>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Este produto não possui tamanhos cadastrados.</p>
            }

            <button type="button" class="btn btn-dark smooth-btn btn-sm" onclick="adicionarAoCarrinho(this, @Model.PrdId)">
                Adicionar ao Carrinho <i class="bi bi-cart4"></i>
            </button>
        </div>

    </div>
</div>



<script>
    document.querySelectorAll('.thumb').forEach(t => {
        t.addEventListener('click', e => {
            let produtoId = e.target.dataset.id;
            let mainImg = document.getElementById(`produto-${produtoId}`);
                if (mainImg) {
                    mainImg.src = e.target.src;
                }
        });
    });
</script>
