@model IEnumerable<Virtus.Models.Produto>
@{
    int pagIndex = (int)ViewData["PagIndex"];
    int totalPag = (int)ViewData["TotalPag"];
}


<h2 class="pb-4 text-center">Produtos</h2>

<div class="row mb-5 g-3">
    @foreach (var produto in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="rounded border shadow p-3 text-center h-100">
                <img src="@produto.Imagens.FirstOrDefault()?.Url" class="img-fluid" alt="..."
                     style="height: 180px; object-fit: contain" />
                <hr />
                <h5 class="py-2">@produto.Nome</h5>
                <p>
                    Marca: @produto.Marca, Categoria: @produto.Categoria
                </p>
                <h4 class="mb-3">R$ @produto.Preco.ToString("F2")</h4>
                <a class="btn btn-primary btn-sm mb-2" asp-controller="Loja"
                   asp-action="Detalhes" asp-route-id="@produto.Id" role="button">Detalhes</a>
                <button type="button" class="btn btn-warning btn-sm mb-2" onclick="adicionarAoCarrinho(this, @produto.Id)">
                    Adicionar ao Carrinho <i class="bi bi-cart4"></i>
                </button>
            </div>
        </div>
    }
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPag; i++)
        {
            string active = i == pagIndex ? "active" : "";
            <li class="page-item @active">
                <a class="page-link" href="?pagIndex=@i">@i</a>
            </li>
        }
    </ul>
</nav>