@model IEnumerable<Virtus.Models.Produto>
@{
    int pagIndex = (int)ViewData["PagIndex"];
    int totalPag = (int)ViewData["TotalPag"];
}


<h2 class="pb-4 text-center">Produtos</h2>

<div class="row mb-5 g-3">
    @foreach (var produto in Model)
    {
        <div class="col-lg-3 col-md-6 d-flex justify-content-center">
            <div class="rounded border shadow p-3 text-center h-100 border border-dark rounded-3 p-3 d-flex flex-column"
                 onclick="window.location='@Url.Action("Detalhes", "Loja", new { id = produto.PrdId })'" style="width:90%; cursor: pointer">
                <img src="/img/@produto.Imagens.FirstOrDefault()?.PimgUrl" class="img-fluid produto-img" id="produto-@produto.PrdId" alt="..."
                     style="height: 180px; object-fit: contain" />
                <div class="flex-grow-1 mt-2">
                    <h5 class="py-2">@produto.PrdNome</h5>
                    <p>
                        Marca: @produto.PrdMarca, Categoria: @produto.PrdCategoria
                    </p>

                    <h4 class="mb-3 fw-bold" style="color: #090B54;">R$ @produto.PrdPreco.ToString("F2")</h4>
                </div>
                <div class="mt-auto p-1">
                    <button type="button" class="btn btn-dark smooth-btn btn-sm w-100" onclick="event.stopPropagation(); adicionarCarrinho(this, @produto.PrdId)">
                        Adicionar ao Carrinho <i class="bi bi-cart4"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPag; i++)
        {
            string active = i == pagIndex ? "active" : "";
            <li class="page-item @active">
                <a class="page-link" href="?pagIndex=@i">@i</a>
            </li>
        }
    </ul>
</nav>