@model IEnumerable<Virtus.Models.Produto>

@{
    ViewData["Title"] = "Página Inicial";
    ViewData["PagInicial"] = true;
}

<div id="carrossel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carrossel" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carrossel" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carrossel" data-bs-slide-to="2"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/01.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/img/02.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/img/03.jpg" class="d-block w-100">
        </div>
    </div>
</div>

<style>

    #carrossel{
        max-height: 500px;
    }

    #carrossel img{
        height: 500px;
        object-fit: cover;
    }

    .carousel-indicators [data-bs-target] {
        background-color: rgba(255,255,255,0.5);
    }

    .carousel-indicators .active {
        background-color: #000;
    }
</style>


<div class="bg-light">
    <div class="container py-4">
        <h2 class="pb-4 text-center">Novos Produtos</h2>

        <div class="row mb-5 g-3">
            @foreach (var produto in Model)
            {
                <div class="col-lg-3 col-md-6 d-flex justify-content-center">
                    <div class="rounded border shadow p-3 text-center h-100 border border-dark rounded-3 p-3 d-flex flex-column" 
                    onclick="window.location='@Url.Action("Detalhes", "Loja", new { id = produto.Id })'" style="width:90%; cursor: pointer">
                        <img src="/img/@produto.Imagens.FirstOrDefault()?.Url" class="img-fluid produto-img" id="produto-@produto.Id" alt="..."
                             style="height: 180px; object-fit: contain" />
                        <div class="flex-grow-1 mt-2">
                        <h5 class="py-2">@produto.Nome</h5>
                        <p>
                            Marca: @produto.Marca, Categoria: @produto.Categoria
                        </p>

                        <h4 class="mb-3">R$ @produto.Preco.ToString("F2")</h4>
                        </div>
                        <div class="mt-auto p-1">
                        <button type="button" class="btn btn-dark smooth-btn btn-sm w-100" onclick="event.stopPropagation(); adicionarAoCarrinho(this, @produto.Id)">
                            Adicionar ao Carrinho <i class="bi bi-cart4"></i>
                        </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-light">
    <div class="row g-4 justify-content-around">

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card-colecao">
                <img src="~/img/01.jpg" alt="Coleção" class="img-colecao">
                <div class="texto-colecao">Coleção</div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card-colecao">
                <img src="~/img/01.jpg" alt="Coleção" class="img-colecao">
                <div class="texto-colecao">Coleção</div>
            </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
            <div class="card-colecao">
                <img src="~/img/01.jpg" alt="Coleção" class="img-colecao">
                <div class="texto-colecao">Coleção</div>
            </div>
        </div>

    </div>
</div>


<style>
    .card-colecao {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

        .card-colecao:hover {
            transform: scale(1.05);
        }

    .img-colecao {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Cobre o quadrado mantendo o foco */
        display: block;
    }

    .texto-colecao {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-weight: 500;
        font-size: 1rem;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    }

</style>
