@using Microsoft.AspNetCore.Html
@model IEnumerable<Virtus.Models.Produto>
@using Microsoft.AspNetCore.Html

@{
    int pagIndex = (int)ViewData["PagIndex"];
    int totalPag = (int)ViewData["TotalPag"];

    string buscar = (string)ViewData["Buscar"]!;


    string coluna = (string)ViewData["Coluna"]!;
    string ordPor = (string)ViewData["OrdPor"]!;

    HtmlString getArrow(string tblColuna)
    {
        if (tblColuna != coluna) return new HtmlString("");

        if (ordPor == "desc")
        {
            return new HtmlString("<i class='bi bi-arrow-down'></i>");
        }

        return new HtmlString("<i class='bi bi-arrow-up'></i>");
    }

}


<h2 class="text-center mb-5">Lista de Produtos</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Produto" asp-action="Criar">Novo Produto</a>
    </div>
    <div class="col">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="buscar" value="@buscar" placeholder="Buscar por Nome ou Marca" aria-label="Buscar">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</div>


<script>
    function sortTable(coluna) {
        let ordPor = "desc"
        let colunaAtual = "@coluna";
        let ordemAtual = "@ordPor";
        if (coluna === colunaAtual) {
            if (ordemAtual == "asc") ordPor = "desc";
            else ordPor = "asc";
        }
            // Reset pagIndex ao mudar a ordenação
    window.location.href = `?buscar=@buscar&coluna=${coluna}&ordPor=${ordPor}&pagIndex=1`;

    }
</script>

<table class="table">
    <thead>
        <tr>
            <th style="cursor: pointer;" onclick="sortTable('Id')">ID @getArrow("Id")</th>
            <th style="cursor: pointer;" onclick="sortTable('Nome')">Nome @getArrow("Nome")</th>
            <th style="cursor: pointer;" onclick="sortTable('Marca')">Marca @getArrow("Marca")</th>
            <th style="cursor: pointer;" onclick="sortTable('Categoria')">Categoria @getArrow("Categoria")</th>
            <th style="cursor: pointer;" onclick="sortTable('Tipo')">Tipo @getArrow("Tipo")</th>
            <th style="cursor: pointer;" onclick="sortTable('Preco')">Preço @getArrow("Preco")</th>
            <th>Imagem</th>
            <th style="cursor: pointer;" onclick="sortTable('Estoque')">Estoque @getArrow("Estoque")</th>
            <th style="cursor: pointer;" onclick="sortTable('DataCriada')">Data de Criação @getArrow("DataCriada")</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Marca</td>
                <td>@produto.Categoria</td>
                <td>@produto.Tipo</td>
                <td>R$ @produto.Preco.ToString("F2")</td>
                <td><img src="@produto.ImageUrl" width="100" /></td>
                <td>@produto.Estoque</td>
                <td>@produto.DataCriada.ToString("dd/MM/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-controller="Produto" asp-action="Editar"
                       asp-route-id="@produto.Id">Editar</a>
                    <form asp-action="Deletar" asp-route-id="@produto.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este produto?')">
                            Excluir
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= totalPag; i++)
        {
            string ativo = i == pagIndex ? "active" : "";
            <li class="page-item @ativo">
                <a class="page-link" href="?pagIndex=@i&buscar=@buscar&coluna=@coluna&ordPor=@ordPor">@i</a>
            </li>
        }
    </ul>
</nav>