@model Virtus.Models.Carrinho

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger mt-3 fade show" role="alert">
        @TempData["Erro"]
    </div>
}

@if (ViewBag.ErroPagamento != null)
{
    <div class="alert alert-danger mt-3 fade show" role="alert">
        @ViewBag.ErroPagamento
    </div>
}



<form asp-action="FinalizarPedido" asp-controller="Carrinho" method="post">
    <div class="container my-4 fade-in">
        <h3 class="fw-bold mb-4 slide-down">Frete e pagamento</h3>

        <div class="row">
            <div class="col-md-8">
                <!-- Endereço -->
                <div class="mb-4 section-animate border border-dark rounded-3 p-3">
                    <h6 class="fw-bold">Endereço de Entrega</h6>
                    <div class="d-flex flex-column gap-2">
                        @if (Model.Enderecos.Count > 0)
                        {
                            int index = 0;
                            foreach (var endereco in Model.Enderecos)
                            {
                                <label class="card endereco-card p-3 border rounded-3 d-flex justify-content-between align-items-center hover-zoom border border-dark rounded-3 p-3">
                                    <div>
                                        <input class="form-check-input me-2" type="radio" name="EnderecoSelecionadoId" value="@endereco.EndId" @(index == 0 ? "checked" : "") />
                                        <strong>@endereco.EndNomeCompleto</strong>: @($"{endereco.EndLogradouro}, {endereco.EndNumero} - {endereco.EndBairro} - {endereco.EndCidade}/{endereco.EndEstado}")
                                    </div>
                                </label>
                                index++;
                            }

                            <button type="button" class="btn btn-dark mt-3 smooth-btn"
                                    data-bs-toggle="modal" data-bs-target="#AdicionarEndereco">
                                Adicionar novo endereço
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-dark mt-3 smooth-btn"
                                    data-bs-toggle="modal" data-bs-target="#AdicionarEndereco">
                                Escolher um endereço
                            </button>
                        }
                    </div>
                </div>

                <!-- Pagamento com cartão -->
                <h6 class="fw-bold mt-4 mb-3 slide-right">Pagar com cartão</h6>
                <div class="d-flex flex-column gap-2 mb-4 section-animate border border-dark rounded-3 p-3">
                    @if (Model.Cartoes != null && Model.Cartoes.Any())
                    {
                        foreach (var cartao in Model.Cartoes)
                        {
                            <label id="cartao-@cartao.CarId"
                                   class="card cartao-card p-3 d-flex justify-content-between align-items-center border border-dark rounded-3 hover-zoom mb-2"
                                   onclick="selecionarCartao('@cartao.CarId')">
                                <div class="d-flex align-items-center gap-3">
                                    <input class="form-check-input me-2 metodo-pagamento" type="radio" name="MetodoPagamento" value="Cartão" data-tipo="@cartao.CarTipo" />
                                    @if (cartao.CarTipo == "Débito")
                                    {
                                        <i class="bi bi-credit-card-2-front-fill" title="Cartão de Débito" style="font-size:2rem;"></i>
                                    }
                                    else if (cartao.CarTipo == "Crédito")
                                    {
                                        <i class="bi bi-credit-card-2-front" title="Cartão de Crédito" style="font-size:2rem;"></i>
                                    }
                                    <div>
                                        <div>@cartao.CarNomeTitular</div>
                                        <div class="text-muted small">@cartao.CarValidade</div>
                                    </div>
                                </div>
                            </label>
                        }

                        <input type="hidden" id="cartaoSelecionado" name="CartaoId" value="" />
                        <input type="hidden" id="CartaoSelecionadoId" name="CartaoSelecionadoId" value="" />
                    }
                    else
                    {
                        <div class="text-muted">Nenhum cartão cadastrado.</div>
                    }

                    <button class="btn btn-dark mt-3 smooth-btn" type="button" data-bs-toggle="modal" data-bs-target="#AdicionarCartao">
                        Adicionar cartão
                    </button>

                    <div id="sectionParcelas" style="display:none;" class="mt-2">
                        <h5>Parcelamento</h5>

                        
                        <p>Total da compra: <span>R$ @Model.Total.ToString("F2")</span></p>
                        <div class="d-flex">
                        <label class="form-label">Número de parcelas:</label>
                            <select id="selectParcelas" class="form-select form-select-sm ms-3 border border-dark rounded-3" style="width: 100px;">
                        </select>

                        <p class="mt-2 fw-semibold ms-2">
                            de: R$ <span id="valorParcela">R$ 0,00</span>
                        </p>
                        </div>
                    </div>


                </div>


                <!-- PIX -->
                <h6 class="fw-bold mt-4 mb-3 slide-right ">
                    <label class="d-flex justify-content-beetween align-items-center gap-2 card p-3 border border-dark rounded-3 p-3 pix-card hover-zoom">
                        <input class="form-check-input me-2 metodo-pagamento" type="radio" name="MetodoPagamento" id="pixRadio" value="Pix"
                               onclick="selecionarPix()" />
                        Pagar com Pix <img src="/img/pixl.png" width="18" alt="pix" />
                        <div class="p-2">
                            <h6 class="fw-bold">Ganhe 5% de desconto</h6>
                            <p class="small mb-1">1. Após a finalização do pedido, abra o app do seu banco e escolha pagar com Pix.</p>
                            <p class="small mb-1">2. Copie o código Pix ou escaneie o QR Code exibido.</p>
                            <p class="small mb-3">3. Você receberá a confirmação de pagamento por e-mail.</p>
                        </div>
                    </label>

                </h6>
            </div>

            <!-- Coluna direita -->
            <div class="col-md-4">
                <div class="border rounded-3 p-3 bg-light slide-left" style="top:20px">
                    <h6 class="fw-bold">Resumo do pedido</h6>
                    <hr />

                    <div class="d-flex justify-content-between">
                        <span>Subtotal:</span>
                        <span id="subtotal">R$ @Model.Subtotal.ToString("F2")</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Frete:</span>
                        <span id="frete">R$ @Model.TaxaEntrega.ToString("F2")</span>
                    </div>
                    <hr />

                    <input type="hidden" id="ParcelasSelecionadas" name="ParcelasSelecionadas" value="@ViewBag.Parcelas" />
                    <input type="hidden" id="ValorParcela" name="ValorParcela" value="@ViewBag.ValorParcela" />

                    <div class="d-flex justify-content-between fw-bold">
                        <span>Valor total:</span>
                        <span id="total">R$ @Model.Total.ToString("F2")</span>
                    </div>

                    <small class="text-muted">
                        ou R$ <span id="pixPrice">@Model.Pix.ToString("F2")</span> no pix com desconto de 5%
                    </small>

                    <div class="mt-2">
                        <span id="parcelasResumo" class="text-muted"></span>

                    </div>

                    <button type="submit" class="btn btn-dark w-100 mt-3 smooth-btn">
                        Usar esse método de pagamento
                    </button>

                </div>
            </div>
        </div>
    </div>
</form>

<style>
    @@keyframes fadeIn {
        from

    {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

    }

    @@keyframes slideDown {
        from

    {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

    }

    @@keyframes slideLeft {
        from

    {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

    }

    @@keyframes slideRight {
        from

    {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

    }

    /* Classes utilitárias */
    .fade-in {
        animation: fadeIn 0.8s ease-in-out;
    }

    .slide-down {
        animation: slideDown 0.8s ease-in-out;
    }

    .slide-left {
        animation: slideLeft 1s ease-in-out;
    }

    .slide-right {
        animation: slideRight 1s ease-in-out;
    }

    .fade-up {
        animation: fadeIn 1s ease-in-out;
    }

    /* Cards e botões interativos */
    .hover-zoom {
        transition: transform 0.25s ease, box-shadow 0.25s ease;
        cursor: pointer;
    }

        .hover-zoom:hover {
            transform: scale(1.03);
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }

    /* Efeito de destaque no card selecionado */
    input[type="radio"]:checked + strong,
    input[type="radio"]:checked ~ div {
        color: #000;
        font-weight: 600;
    }

    .cartao-card {
        border: 1px solid #343a40 !important; /* mantém a borda escura do Bootstrap */
        border-radius: 0.5rem; /* equivalente a rounded-3 */
        box-shadow: none !important;
    }

        /* remove qualquer foco azul do Bootstrap */
        .cartao-card:focus,
        .cartao-card:active,
        .cartao-card:focus-visible {
            outline: none !important;
            box-shadow: none !important;
            border-color: #343a40 !important; /* mantém a cor normal */
        }

    select:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    .section-animate {
        animation: fadeIn 1s ease both;
    }

        .section-animate:nth-child(1) {
            animation-delay: 0.1s;
        }

        .section-animate:nth-child(2) {
            animation-delay: 0.2s;
        }

        .section-animate:nth-child(3) {
            animation-delay: 0.3s;
        }

    .confirmando {
        background-color: #198754 !important;
        border-color: #198754 !important;
        transition: all 0.3s ease-in-out;
    }

        .confirmando:hover {
            background-color: #157347 !important;
            transform: scale(1.02);
        }

</style>





<!-- Modal para adicionar endereço -->
<div class="modal fade" id="AdicionarEndereco" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Adicionar Endereço</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <form asp-action="SalvarEndereco" method="post">
                    <input type="hidden" name="EndId" value="@Model.NovoEndereco.EndId" />

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Nome Completo</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndNomeCompleto" value="@Model.NovoEndereco.EndNomeCompleto"
                                   placeholder="Digite seu nome completo" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Logradouro</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndLogradouro" value="@Model.NovoEndereco.EndLogradouro"
                            placeholder="Digite o logradouro" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Número</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndNumero" value="@Model.NovoEndereco.EndNumero"
                            placeholder="Digite o número do endereço" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Bairro</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndBairro" value="@Model.NovoEndereco.EndBairro"
                            placeholder="Digite o bairro" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Cidade</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndCidade" value="@Model.NovoEndereco.EndCidade"
                                   placeholder="Digite a cidade" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Estado</label>
                        <div class="col-sm-8">
                            <select name="EndEstado" class="form-control" value="@Model.NovoEndereco.EndEstado" required>
                                <option value="">Selecione o estado...</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>

                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">CEP</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndCEP" id="CEP" value="@Model.NovoEndereco.EndCEP" placeholder="00000-000" />
                        </div>
                    </div>

                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label">Complemento</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="EndComplemento" value="@Model.NovoEndereco.EndComplemento"
                                   placeholder="Digite o complemento (Opcional)"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="offset-sm-4 col-sm-8">
                            <button type="submit" class="btn btn-dark smooth-btn">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light border border-dark rounded smooth-btn" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para adicionar cartão -->
<div class="modal fade" id="AdicionarCartao" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Adicionar Cartão</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
                <form asp-action="SalvarCartao" method="post">
                    <div class="mb-3">
                        <label class="form-label">Tipo</label>
                        <select name="CarTipo" class="form-select" value="@Model.NovoCartao.CarTipo" required>
                            <option value="">Selecione...</option>
                            <option>Crédito</option>
                            <option>Débito</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nome no cartão</label>
                        <input type="text" name="CarNomeTitular" class="form-control" value="@Model.NovoCartao.CarNomeTitular" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Número do cartão</label>
                        <div class="d-flex align-items-center">
                        <input type="text" id="Numero" name="CarNumero" inputmode="numeric" placeholder="0000 0000 0000 0000"
                               autocomplete="cc-number" maxlength="19" class="form-control" value="@Model.NovoCartao.CarNumero" required style="padding-right: 40px;" />
                        <img id="Bandeira" src="" style="height:30px; position:absolute; right:20px; display:none;" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Validade (MM/AA)</label>
                            <input type="text" name="CarValidade" id="Validade" class="form-control" maxlength="5" placeholder="MM/AA" value="@Model.NovoCartao.CarValidade" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">CVV</label>
                            <input type="text" id="CVV" name="CarCVV" placeholder="123" class="form-control" value="@Model.NovoCartao.CarCVV" required />
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-dark smooth-btn">Salvar cartão</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light border border-dark rounded smooth-btn" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const campo = document.getElementById("Numero");

            campo.addEventListener("input", function (e) {
                // Remove tudo que não for número
                let valor = e.target.value.replace(/\D/g, '');

                // Limita a 16 dígitos
                valor = valor.substring(0, 16);

                // Agrupa de 4 em 4 dígitos
                let formatado = valor.replace(/(\d{4})(?=\d)/g, '$1 ');
                e.target.value = formatado.trim();
            });
        });

                document.addEventListener("DOMContentLoaded", function () {
            const metodoRadios = document.querySelectorAll('input[name="MetodoPagamento"]');
            const botao = document.querySelector('button[type="submit"].btn-dark.w-100');
            let etapaConfirmacao = false;

            // Seleção visual de cartões / pix
            metodoRadios.forEach(radio => {
                radio.addEventListener("change", () => {
                    document.querySelectorAll('.pix-card, .cartao-card').forEach(c => c.classList.remove('selected'));
                    radio.closest(".card").classList.add("selected");
                });
            });

            // Clique no botão principal
            botao.addEventListener("click", (e) => {
                const metodo = document.querySelector('input[name="MetodoPagamento"]:checked');

                if (!etapaConfirmacao) {
                    e.preventDefault(); // bloqueia o submit no primeiro clique

                    if (!metodo) {
                        mostrarErro("Por favor, selecione um método de pagamento antes de continuar.");
                        return;
                    }

                    // Muda para modo "Confirmar pedido"
                    botao.textContent = "Confirmar pedido";
                    botao.classList.add("confirmando");

                    // Animação leve
                    botao.animate(
                        [{ transform: "scale(1)" }, { transform: "scale(1.07)" }, { transform: "scale(1)" }],
                        { duration: 400, easing: "ease-in-out" }
                    );

                    etapaConfirmacao = true;
                } else {
                    // Segundo clique → submete o formulário normalmente
                    botao.textContent = "Processando...";
                    botao.classList.add("disabled");
                }
            });

            // Função de erro visual (aparece e some depois)
            function mostrarErro(msg) {
                let alerta = document.getElementById("alertaErro");

                if (!alerta) {
                    alerta = document.createElement("div");
                    alerta.id = "alertaErro";
                    alerta.className = "alert alert-danger mt-3 fade show";
                    alerta.role = "alert";
                    document.querySelector(".col-md-8").prepend(alerta);
                }

                alerta.textContent = msg;
                alerta.style.opacity = "1";
                alerta.animate([{ opacity: 0 }, { opacity: 1 }], { duration: 300, fill: "forwards" });

                // Some automaticamente após 3s
                setTimeout(() => {
                    alerta.classList.remove("show");
                    alerta.classList.add("fade");
                }, 3000);
            }
        });

        function getTotalCompra() {
        let txt = document.getElementById("total").innerText;

        // Remove "R$ " e espaços
        txt = txt.replace("R$", "").trim();

        // Remove separador de milhar, troca vírgula por ponto
        txt = txt.replace(/\./g, "").replace(",", ".");

        return parseFloat(txt);
        }

            document.addEventListener("DOMContentLoaded", function () {

            const radios = document.querySelectorAll(".metodo-pagamento");
            const secParcelas = document.getElementById("sectionParcelas");
            const selectParcelas = document.getElementById("selectParcelas");
            const spanValorParcela = document.getElementById("valorParcela");

            function atualizarValorParcela() {
                const total = getTotalCompra();
                const qtd = parseInt(document.getElementById("selectParcelas").value);

                if (!qtd || qtd === 0) {
                    spanValorParcela.innerText = "R$ 0,00";
                    return;
                }

                const valorParcela = total / qtd;
                spanValorParcela.innerText = valorParcela.toLocaleString("pt-BR", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
        document.getElementById("ParcelasSelecionadas").value = qtd;
        document.getElementById("ValorParcela").value = valorParcela.toFixed(2);


            }

            // Quando troca o cartão
            radios.forEach(r => {
                r.addEventListener("change", function () {
                    const tipo = this.dataset.tipo; 
                    const total = getTotalCompra();



                    if (tipo === "Crédito") {
                        secParcelas.style.display = "block";

                        // Preenche opções de parcelas 1 até 12
                        selectParcelas.innerHTML = "";
                        for (let i = 1; i <= 12; i++) {
                            let option = document.createElement("option");
                            option.value = i;
                            option.textContent = `${i}x`;
                            selectParcelas.appendChild(option);
                        }

                        atualizarValorParcela();
                    }
                    else {
                        secParcelas.style.display = "none";
                        selectParcelas.innerHTML = "";
                    }
                });
            });

            // Recalcula valor quando troca número de parcelas
            selectParcelas.addEventListener("change", atualizarValorParcela);

        });


        document.addEventListener("DOMContentLoaded", function () {

            const spanResumo = document.getElementById("parcelasResumo");
            const selectParcelas = document.getElementById("selectParcelas");

            function getTotalCompra() {
                let txt = document.getElementById("total").innerText.replace("R$", "").trim();
                return parseFloat(txt.replace(".", "").replace(",", "."));
            }

            // Atualiza o texto fora da área dos cartões
            function atualizarParcelasResumo(qtdParcelas = 1) {
                if (!spanResumo) return;

                const total = getTotalCompra();
                const valorParcela = total / qtdParcelas;

                spanResumo.innerText = `${qtdParcelas}x de ` +
                    valorParcela.toLocaleString("pt-BR", {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
            }

            // Quando escolher outra quantidade de parcelas no select
            selectParcelas?.addEventListener("change", function () {
                const qtd = parseInt(this.value);
                atualizarParcelasResumo(qtd);
            });

            // Quando mudar o cartão
            const radios = document.querySelectorAll("input.metodo-pagamento");

            radios.forEach(r => {
                r.addEventListener("change", function () {
                    const tipo = this.dataset.tipo;

                    if (tipo === "Crédito") {

                        // Recria o select 1 a 12
                        selectParcelas.innerHTML = "";
                        for (let i = 1; i <= 12; i++) {
                            selectParcelas.innerHTML += `<option value="${i}">${i}x</option>`;
                        }

                        // Sempre começar com 1x
                        selectParcelas.value = "1";
                        atualizarParcelasResumo(1);

                    } else if (tipo === "Débito") {
                        // Débito sempre é 1x
                        atualizarParcelasResumo(1);
                    }
                    else if (tipo === "Pix"){
                        atualizarParcelasResumo.style.display = "none";
                    }
                });
            });

            // Ao carregar a página → sempre começa em 1x
            atualizarParcelasResumo.style.display = "none";

        });

        function detectarBandeira(numero) {
            const n = numero.replace(/\D/g, "");

            if (n.startsWith("4")) return "visa";

            const prefix2 = parseInt(n.substring(0, 2));

            if (prefix2 >= 51 && prefix2 <= 55) return "master";
            if (n.startsWith("60") || n.startsWith("38")) return "hiper";

            // Elo (simplificado)
            const elo = ["4011", "4312", "4389", "4514", "4576", "6362", "6504", "6505", "6509", "6516"];
            if (elo.includes(n.substring(0, 4))) return "elo";

            return null;
        }

        document.getElementById("Numero").addEventListener("input", function () {
            const bandeira = detectarBandeira(this.value);
            const img = document.getElementById("Bandeira");

            if (bandeira) {
                img.src = `/img/${bandeira}.png`;  // coloque suas imagens nessa pasta
                img.style.display = "inline";
            } else {
                img.style.display = "none";
            }
        });

    </script>
}
