@model Virtus.Models.Carrinho


<div class="row min-vh-100">
    <div class="col-md-8 p-3">
        <h4>Carrinho de Compras</h4>
        <hr />

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                <strong>@ViewBag.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <table class="table align-middle">
            <tbody class="carrinho">
                @foreach (var item in Model.Itens)
                {
                    <tr class="border border-dark rounded-3 p-3 mt-3">
                        <td>
                            <div class="d-flex">
                                <img src="@Url.Content("~/img/" + item.Imagem?.PimgUrl)" width="150" class="rounded" alt="@item.Produto.PrdNome" />
                            <div class="ms-3">
                                    <h4>@item.Produto.PrdNome</h4>
                            <p>
                                        Marca: @item.Produto.PrdMarca<br>
                                        Categoria: @item.Produto.PrdCategoria<br>
                                        Preço: R$ @item.IpPrecoUnitario
                            </p>
                            </div>
                            </div>
                        <div style="white-space:nowrap">
                            Quantidade: 
                            <button type="button" class="btn btn-light border border-dark rounded smooth-btn btn-sm"
                                        onclick="diminuir(@item.Produto.PrdId)">
                                -
                            </button>
                                <span class="border rounded-3 p-2 m-1">@item.IpQuantidade</span>
                            <button type="button" class="btn btn-light border border-dark rounded smooth-btn btn-sm"
                                        onclick="aumentar(@item.Produto.PrdId)">
                                +
                            </button>
                        </div>
                        </td>

                        <td class="position-relative">
                            <div class="position-absolute top-0 end-0 m-1 mt-2">
                                <i class="bi bi-trash h4" style="cursor: pointer; font-size:30px;" onclick="remover(@item.Produto.PrdId)"></i>
                            </div>

                            <div class="position-absolute bottom-0 end-0 m-1 fw-bold d-flex align-items-end">
                                <div class="me-1">R$ </div>
                                <div>
                                    @(item.IpPrecoUnitario * item.IpQuantidade)
                                </div>

                               
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <div class="border rounded-3 p-3 bg-light slide-left" >
            <h4>Resumo do Pedido</h4>
            <hr />

            @using Microsoft.AspNetCore.Http

            @{
                var usuarioLogado = Context.Session.GetString("UsuarioNome"); 
            }

            @if (!string.IsNullOrEmpty(usuarioLogado))
            {
                <form>

                    <div class="row">
                        <div class="col">
                            <p>Subtotal:</p>
                        </div>
                        <div class="col">
                            <p class="text-end">R$ @Model.Subtotal.ToString("F2")</p>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark w-100 mt-3 smooth-btn" asp-controller="Carrinho" asp-action="Infos">
                        Finalizar Compra
                    </button>
                    <button class="btn btn-light border border-dark rounded w-100 mt-3 smooth-btn" asp-controller="Home" asp-action="Index">
                        Continuar Olhando
                    </button>
                </form>
            }
            else
            {
                <div class="row">
                    <div class="col d-grid">
                        <a class="btn btn-dark w-100 mt-3 smooth-btn" asp-controller="Usuario" asp-action="Cadastrar">Cadastrar</a>
                    </div>
                    <div class="col d-grid">
                        <a class="btn btn-light border border-dark rounded w-100 mt-3 smooth-btn" asp-controller="Usuario" asp-action="Login">Login</a>
                    </div>
                </div>
            }



        </div>
    </div>
</div>
    