@model Virtus.Models.Pedido

@{
    // Badge cores
    string paymentBadgeColor = "bg-danger";
    if (Model.PdStatusPagamento == "Pendente") paymentBadgeColor = "bg-warning text-dark";
    else if (Model.PdStatusPagamento == "Pago") paymentBadgeColor = "bg-success";
    else if (Model.PdStatusPagamento == "Cancelado") paymentBadgeColor = "bg-secondary";

    string orderBadgeColor = "bg-danger";
    if (Model.PdStatusPedido == "Criado") orderBadgeColor = "bg-warning text-dark";
    else if (Model.PdStatusPedido == "Aceito") orderBadgeColor = "bg-success";
    else if (Model.PdStatusPedido == "Cancelado") orderBadgeColor = "bg-secondary";
}

<h3 class="text-center mb-4">Detalhes do Pedido</h3>

<a class="btn btn-link shadow-none" asp-controller="UsuarioPedido" asp-action="Index">Voltar para Pedidos</a>

<div class="row mb-4">
    <div class="col">
        <div class="border rounded border-dark py-3 px-4 h-100">
            <h3 class="mb-4">Pedido</h3>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">ID do Pedido</div>
                <div class="col">@Model.PdId</div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Endereço de Entrega</div>
                <div class="col">
                    @Model.Endereco
                </div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Método de Pagamento</div>
                <div class="col">
                    @(Model.MetodoPagamento != null ? Model.MetodoPagamento.MpDescricao : "Desconhecido")
                </div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Status do Pagamento</div>
                <div class="col">
                    <span class="badge rounded-pill @paymentBadgeColor">@Model.PdStatusPagamento</span>
                </div>
            </div>

            <div class="row mb-2 pb-2 border-bottom">
                <div class="col">Status do Pagamento</div>
                <div class="col">
                    <span class="badge rounded-pill @orderBadgeColor">@Model.PdStatusPedido</span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">Data do Pedido</div>
                <div class="col">@Model.PdCriadoEm.ToString("dd/MM/yyyy")</div>
            </div>
        </div>
    </div>

    <table class="table mt-3">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal subtotal = 0;
            if (Model.Itens != null)
            {
                foreach (var item in Model.Itens)
                {
                        decimal itemTotal = item.IpPrecoUnitario * item.IpQuantidade;
                    subtotal += itemTotal;
                    <tr>
                        <td>
                                <img src="@Url.Content("~/img/" + item.Produto.Imagens.FirstOrDefault()?.PimgUrl)" width="100" />
                                @item.Produto.PrdNome
                        </td>
                            <td>@item.Produto.PrdCategoria</td>
                            <td>@item.IpQuantidade</td>
                            <td>@item.IpPrecoUnitario.ToString("F2")</td>
                            <td>@itemTotal.ToString("F2")</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
</div>

    <div class="ms-auto mb-3" style="width: 300px">
        <div class="row">
            <div class="col fw-bold">Subtotal:</div>
            <div class="col text-end">@subtotal</div>
        </div>
        <div class="row">
            <div class="col fw-bold">Taxa de Entrega:</div>
        <div class="col text-end">@Model.PdTaxaEntrega</div>
        </div>
        <div class="row">
            <div class="col fw-bold">Total:</div>
        <div class="col text-end">@Model.PdValorTotal</div>
        </div>
    </div>
